<?xml version="1.0"?>
<robot name="robbie" xmlns:xacro="http://www.ros.org/wiki/xacro">
 
  <xacro:include filename="$(find robbie_description)/urdf/macros.xacro" /> 
  <xacro:include filename="$(find robbie_description)/urdf/sensors/sensors.xacro" />
  <xacro:include filename="$(find robbie_description)/urdf/robbie.gazebo"/>

	<!-- LOAD ROBOT COMPONENT FILES -->
  <xacro:include filename="$(find robbie_description)/urdf/shank/shank.xacro" />
  <xacro:include filename="$(find robbie_description)/urdf/stabiliser/stabiliser.xacro" />
  <xacro:include filename="$(find robbie_description)/urdf/thigh/thigh.xacro" />
  <xacro:include filename="$(find robbie_description)/urdf/torso/torso.xacro" />
  <xacro:include filename="$(find robbie_description)/urdf/lhm/lhm.xacro" />
  <xacro:include filename="$(find robbie_description)/urdf/arm/arm.xacro" />

	<xacro:shank_ass  name="shank"/>
	<xacro:stabiliser parent="shank_link"/>
	<xacro:thigh parent="shank_link" />
	<xacro:torso parent="thigh_link" />
	<xacro:lhm_ass/>
	<xacro:arm_ass side="left" reflect="-1.0" arm_rotate="0.0" />
	<xacro:arm_ass side="right" reflect="1.0" arm_rotate="1.0" />

</robot>






